@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 5px 50px 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/top-image.svg) no-repeat top, url(./images/bottom-image.svg) no-repeat bottom;
    background-size: 100%;
}

.container-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.container-main-content h1 {
    text-transform: uppercase;
    color: #6C63FF;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.container-main-content h2 {
    color: #9C9AB6;
    font-weight: 400;
    font-size: 14px;
    padding: 40px 0 40px 0;
}

.container-main-content #button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    width: 160px;
    height: 45px;
    background-color: #6C63FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#button:hover, #target-inner .submit:hover {
    transition: .3s;
    border: #6C63FF 3px solid;
    background-color: #6b63ff31;
    color: #6C63FF;
}

table {
    width: 100%;
}

tr {
    text-align: center;
}

td {
    padding: 0 10px 0 10px;
}

.days, .hours, .minutes, .seconds {
    min-width: 150px;
}

table .titles {
    color: #C8C8C8;
    font-weight: 300;
    font-size: 14px;
}

table .timer {
    color: #4D4C59;
    font-weight: 400;
    font-size: 100px;
}

#target-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms;
}

#target-content:target {
    pointer-events: all;
    opacity: 1;
}

#target-inner {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 48px;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
    color: #6C63FF;
    line-height: 30px;
    border-radius: 10px;
    background: white url(./images/registration.svg) no-repeat right;
}

#target-inner input{
    width: 200px;
    text-align: center;
    color: #4D4C59;
}

#target-inner .submit {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    width: 120px;
    height: 35px;
    background-color: #6C63FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.close {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #34495e;
    opacity: 0.5;
    transition: opacity 200ms;
}

.close:hover {
    opacity: 0.4;
}